.PoolDetails-loader-container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.PoolDetails-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
}

.PoolDetails-title-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  max-height: 50px;
}

.PoolDetails-title {
  margin-left: 2%;
}

.PoolDetails-logo {
}

.PoolDetails-Graphs-container {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 2%;
  flex-wrap: wrap;
}

.PoolDetails-Tvl-container {
  display: flex;
  flex-direction: column;
}

.PoolDetails-Tvl-title {
  text-align: center;
}

.PoolDetails-Pies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.PoolDetails-separator {
  height: 1px;
  width: 80%;
  border-bottom-width: 1;
  border-bottom-style: solid;
  border-bottom-color: white;
}

.PoolDetails-informations-title {
  width: 80%;
  text-align: center;
}

.PoolDetails-informations-links {
  width: 80%;
  flex-wrap: wrap;
}

.PoolDetails-informations-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.PoolDetails-informations-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 2%;
}

.PoolDetails-informations-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.PoolDetails-informations-value {
  margin-top: 0;
  margin-bottom: 0;
}
