.PoolsList-loader-container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.PoolsList-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.PoolsList-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.PoolsList-Tile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 250px;
  max-width: 250px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 30px;
  padding: 2%;
  margin: 0 2% 2% 2%;
}

.PoolsList-Tile-name {
  padding-left: 10%;
}

.PoolsList-Tile-link {
  padding-left: 10%;
  align-self: flex-end;
}

.PoolsList-Tile-link:link {
  color: white;
}

/* visited link */
.PoolsList-Tile-link:visited {
  color: white;
}

/* mouse over link */
.PoolsList-Tile-link:hover {
  color: white;
}

/* selected link */
.PoolsList-Tile-link:active {
  color: white;
}
