.App-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 10vh;
  min-height: 10vh;
  width: 100%;
  font-size: calc(8px + 1vmin);
  padding-top: 10px;
  padding-bottom: 10px;
}

.App-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.App-links-container > p {
  margin-top: 1%;
  margin-bottom: 1%;
}

.App-link:link {
  color: white;
}

/* visited link */
.App-link:visited {
  color: white;
}

/* mouse over link */
.App-link:hover {
  color: white;
}

/* selected link */
.App-link:active {
  color: white;
}
