.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-height: 10vh;
  min-height: 10vh;
  width: 100%;
  font-size: calc(8px + 1vmin);
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.App-header-link > p {
  margin-top: 1%;
  margin-bottom: 1%;
}

.App-header-link:link {
  color: white;
}

/* visited link */
.App-header-link:visited {
  color: white;
}

/* mouse over link */
.App-header-link:hover {
  color: white;
}

/* selected link */
.App-header-link:active {
  color: white;
}
