.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(4px + 2vmin);
  color: white;
  font-family: "Sofia Pro", sans-serif;
  overflow-x: hidden;

  background-color: #6ddafb;
}

.App-container {
  background-color: #252423;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 2%;
  padding-top: 2%;
}
